<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
</head>
<body>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Spring Book Store</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a src="/books/add" class="mr-5 hover:text-gray-900">Add Book</a>
            <a class="mr-5 hover:text-gray-900">View Books</a>
        </nav>
    </div>
</header>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Featured Books</h1>
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-contain object-center w-full h-full block" src="https://images-na.ssl-images-amazon.com/images/I/51pqL3Si57L._SY344_BO1,204,203,200_QL70_ML2_.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Song of Ice and Fire</h2>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-contain object-center w-full h-full block" src="https://images-na.ssl-images-amazon.com/images/I/51UDJ6EbhXL._SY344_BO1,204,203,200_QL70_ML2_.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Harry Potter</h2>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-contain object-center w-full h-full block" src="https://images-na.ssl-images-amazon.com/images/I/41y1sBiezmL._SY344_BO1,204,203,200_QL70_ML2_.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Psychology of Money</h2>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-contain object-center w-full h-full block" src="https://images-na.ssl-images-amazon.com/images/I/51S7KOWir7L._SX526_BO1,204,203,200_.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Atomic Habits</h2>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
